:root {
  --primary: #2e979c;
  --secunder: #FFE439;
  --bg: #fffaf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: var(black);
}

/* Navbar */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: var(--secunder);
  border-bottom: 10px solid var(--primary);
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 99999;
}

.navbar .navbar-logo{ 
  display: ;
  
}
